
body {
  margin: 0;
  padding:60px 0px 0px;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

.center {
  top:40%;
  margin: auto;
  width: 35%;
  height:30%;
  padding: 20px;
  position: relative;
  background-color: #2196F3;
  border-radius: 20px;
}

.button{
  background-color: #FF5722;
  color:white;
  border:none;
  padding: 10px;
  text-align:center;
  border-radius:12px;
  transition-duration: 0.4s;
  margin:20px;
  }
  
  .button:hover {
    background-color: white; /* Green */
    color: black;
  }

  .page{
    width:100vw;
    height:100vh;
    flex-flow: row wrap;
    }

.Home {

}

.home-center {
  top:40%;
  margin: auto;
  width: 35%;
  height:20%;
  padding: 20px;
  position: relative;
  background-color: #2196F3;
  border-radius: 20px;
}

.home-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}


#button1,#button2 {
  display: inline-block;
  padding-left:50px;
  position: relative;
}



#button-container{
  text-align:center;
}

.home-text{
color:white;
}

.nav-fix{
  position: fixed;
  background-color:#2196F3;
}

.nav-text{
  color:#FFFFFF;
  transition-duration: 0.4s;
}

.nav-text:hover {
  color: #FF5722;
}

.login-box{
  background-color: #2196F3;
  border-radius: 20px;
  text-align: center;
}

input[type=text] {
  background-color: white;
   border-radius: 20px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding-left: 40px;
  margin:5px;
  width:70%;
  float:right;
}

input[type=password] {
  background-color: white;
   border-radius: 20px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding-left: 40px;
  margin:5px;
  width:70%;
  float:right;
}

input[type=date] {
  background-color: white;
   border-radius: 20px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding-left: 40px;
  margin:5px;
  width:70%;
  float:right;
}

#button3 {
width:20%;
margin:2%
}

.login-bg{
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}


.signup-box{
  top:40%;
  margin: auto;
  width: 35%;
  height:35%;
  padding: 20px;
  position: relative;
  background-color: #2196F3;
  border-radius: 20px;
}

#button4{
  width:20%;
  margin:2%;
  position: relative;
  margin-left:40%;
}

.align-stuff{
  text-align:center;
}


.card-bg{
  background-color:#00B3B3;
}

.new-center{
  top:20%;
  margin: auto;
  width: 55%;
  height:67%;
  padding: 20px;
  position: relative;
  background-color: #2196F3;
  border-radius: 20px;
}

textarea {
  background-color: white;
   border-radius: 20px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding-left: 40px;
  margin:5px;
  width:70%;
  float:right;
}

#button5{
  width:20%;
  margin:2%;
  position: relative;
  margin-left:40%;
}



span:before{
content:'Yourself';
animation:animate infinite 15s;
width:100%;
}

@keyframes animate{
0%{
  opacity: 0;
}

10%{
opacity: 1;
content:'Your Family'
}

20%{
  opacity: 0;
}

30%{
  opacity: 1;
content: 'Your Friends'
}

40%{
  opacity: 0;
}


50%{
  opacity: 1;
  content: 'Your Partner'
}

60%{
  opacity: 0;
}

70%{
  opacity: 1;
  content: 'Your Self'
}

80%{
  opacity: 0;
}

90%{
  opacity: 1;
  content: 'Your Future'
}

100%{
  opacity: 0;
}
}